.link-style {
  a {
    padding: 0.4rem;
    @include transition(0.3s);
    &:hover {
      color: $orange;
    }
  }
}

footer.horizontal {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  height: 10vh;
  .social-icons {
    display: flex;
    gap: 1rem;
    @extend .link-style;
  }
}

footer.vertical {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .social-icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    gap: 1rem;
    @extend .link-style;
  }
  .copyright {
    position: fixed;
    bottom: 1rem;
    right: 0.21rem;
    transform: rotate(90deg) translate(-3.8rem, -2rem);
  }
}
