.link-style {
  a {
    padding: 0.4rem;
    @include transition(0.3s);
    &:hover {
      color: $orange;
    }
  }
}

footer.horizontal {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  height: 10vh;
  .social-icons {
    display: flex;
    gap: 1rem;
    @extend .link-style;
  }
}
