@import "./base/reset";

@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./components/footer";
@import "./components/nav";

@import "./pages/about";
@import "./pages/contact";
@import "./pages/home";
@import "./pages/projects";

@import "./components/responsiveness";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);

body {
  font-family: $fFamily;
  line-height: 1;
  color: $tColor;
  height: 100vh;
  background-color: $black;
}

a {
  text-decoration: none;
  color: $tColor;
}

h1,
h2,
h3 {
  font-weight: 400;
}
